:root {
    --light-blue: #00daff;
    --deep-blue: #00BBFF;
    --steel-blue: #4E80B3;
    --white: #FFF;
    --black: #000;
}

body {
    background-color: var(--steel-blue);
    font-family: Agency FB, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "banner banner"
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 5px;
}

.gridcontent {
    /*for all content in the grid areas*/
    padding: 5px;
}

.grid-container .gridBlocks {
    background-color: var(--deep-blue);
}

.banner {
    grid-area: banner;
    .gridcontent {
        padding: 0;
    }
}

.header {
    grid-area: header;
    .gridcontent {
        
    }
}

.main {
    grid-area: main;
    .gridcontent {
        
    }
}

.sidebar {
    grid-area: sidebar;
    .gridcontent {
        
    }
}

.sidebarButton {
    background-color: #00ff80;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 5px;
    color: #000;
}

.sidebarText {
    text-align: center;
    color: #000;
    margin: 5px;
}

a:hover .sidebarButton {background-color: #00dd6e;}

.footer {
    grid-area: footer;
    .gridcontent {
        
    }
}
