:root {

}

body {
    background-color: #4E80B3;
    font-family: Agency FB, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "banner banner"
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 5px;
}

.gridcontent {
    /*for all content in the grid areas*/
    padding: 5px;
}

.grid-container div {
    background-color: #00DAFF;
}

.banner {
    grid-area: banner;
    background-color: #FFF8;
    .gridcontent {
        padding: 0px;
    }
}

.header {
    grid-area: header;
    .gridcontent {
        
    }
}

.main {
    grid-area: main;
    .gridcontent {
        
    }
}

.sidebar {
    grid-area: sidebar;
    .gridcontent {
        
    }
}

.footer {
    grid-area: footer;
    .gridcontent {
        
    }
}
